body {
  background-color: #eee;
}

/* Book Cards Holder Section */

#book-cards-holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* Template of book card*/

#template-book-card {
  display: none;
}
