body {
  background-color: #eee;
}

/* Book Cards Holder Section */

#book-cards-holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* Template of book card*/

#template-book-card {
  display: none;
}

@media all and (max-width: 1000px) {
  #book-cards-holder {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 650px) {
  #book-cards-holder {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Bootstrap Customization */

$theme-colors: (
  "primary": #0074d9,
  "danger": #ff4136,
);
